<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ddrealtimemanager">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.DDRealTimeManager">
        <activity
            android:name=".player.PlayerGamesListActivity"
            android:exported="false" />
        <activity
            android:name=".player.CharCreationForGameActivity"
            android:exported="false" />
        <activity
            android:name=".shared.CharactersCardListActivity"
            android:exported="false" />
        <activity
            android:name=".player.real_time.PlayerRealTimeGameActivity"
            android:exported="false" />
        <activity
            android:name=".dm.real_time.DMRealTimeGameActivity"
            android:exported="false" />
        <activity
            android:name=".shared.GameVisualizationActivity"
            android:exported="false" />
        <activity
            android:name=".dm.GameListActivity"
            android:exported="false" />
        <activity
            android:name=".dm.NewGameActivity"
            android:exported="false" />
        <activity
            android:name=".dm.DMGameActivity"
            android:exported="false" />
        <activity
            android:name=".shared.CharacterVisualizationActivity"
            android:exported="false" />
        <activity
            android:name=".shared.CharacterCreationActivity"
            android:exported="false" />
        <activity
            android:name=".shared.CharactersListActivity"
            android:exported="false" />
        <activity
            android:name=".dm.DMActivity"
            android:exported="false"
            android:theme="@style/HiddenTitletheme" />
        <activity
            android:name=".player.PlayerActivity"
            android:exported="false"
            android:theme="@style/HiddenTitletheme" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>